@model FAQ
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @{
            if (TempData["Erroor"] != null)
            {
                <div class="col-lg-12 alert alert-danger">
                    <p>@(TempData["Erroor"]as string)</p>
                </div>
                TempData["Erroor"] = null;
            }
        }
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="FAQ" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.AccordionHead">AccordionHead</label>
                    <input class="form-control" asp-for="@Model.AccordionHead">
                    <span asp-validation-for="@Model.AccordionHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AccordionTitle">AccordionTitle</label>
                    <input class="form-control" asp-for="@Model.AccordionTitle">
                    <span asp-validation-for="@Model.AccordionTitle" class="text-danger"></span>
                    <input class="form-control" type="hidden" asp-for="@Model.Id">
                </div>
                <button type="submit" class="btn btn-success">Update</button>
                <button type="submit" class="btn btn-dark" asp-controller="FAQ" asp-action="Index">Back to List</button>
            </form>
        </div>
    </div>
</div>