@model VmPortfolio
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="uni-banner" style="background-image: url('../../Uploads/@Model.Banner.Image');">
    <div class="container">
        <div class="banner-text">
            <h1>Project Details</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    Project Details
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape-one"></div>
        <div class="shape-two"></div>
        <div class="shape-three"></div>
    </div>
</section>
<section id="portfolio-detail">
    <div class="container">
        <div class="portfolio-img">
            <img src="~/assets/img/Portfolio/project-big-img.jpg" alt="">
        </div>
        <div class="u-fade-type-down js-scroll-trigger">
            <div class="portfolio-content">
                <div class="row">
                    <div class="col-lg-8 order-2 order-lg-2">
                        <div class="port-desc">
                            <h2>@Model.Project.Name</h2>
                            <p style="margin-bottom: 40px;">@Model.Project.Description</p>
                        </div>
                    </div>
                    <div class="col-lg-4 order-1 order-lg-2">
                        <div class="port-details">
                            <ul>
                                <li>
                                    <h3>Project Name</h3>
                                    <p>@Model.Project.Name</p>
                                </li>
                                <li>
                                    <h3>Clients Name</h3>
                                    <p>@Model.Project.ClientsName</p>
                                </li>
                                <li>
                                    <h3>Project Date</h3>
                                    <p>@Model.Project.CreatedDate.ToString("dd MMM yyyy")</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 order-3">
                        <div class="port-images">
                            <div class="row justify content-center">
                                @foreach (var item in Model.Project.ProjectImages)
                                {
                                    <div class="col-md-4 col-sm-6 text-center">
                                        <img src="~/Uploads/@item.Image" alt="">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 order-4">
                        <div class="port-desc">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="u-fade-type-down js-scroll-trigger">
    <section id="start-cons">
        <div class="container">
            <div class="cons-img" style="background-image: url(assets/img/Portfolio/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cons-content">
                            <div class="cons-head">
                                <span>Get A Quote</span>
                                <h2>Feel Any Project For Business Consulting Get Started Us</h2>
                            </div>
                            <a href="" class="my-btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="u-fade-type-down js-scroll-trigger">
    <section id="featuredby" class="featured-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel featuredbyslider owl-theme">
                        @foreach (var item in Model.Partners)
                        {
                            <div class="item img-fluid">
                                <img src="~/Uploads/@item.Image" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
