@model List<ServicePage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead style="border-bottom: 2px solid;">
                    <tr>
                        <th style="text-align: center;" scope="col">#</th>
                        <th style="text-align: center;" scope="col">Name</th>
                        <th style="text-align: center;" scope="col">Description</th>
                        <th style="text-align: center;" scope="col">Option1</th>
                        <th style="text-align: center;" scope="col">Option2</th>
                        <th style="text-align: center;" scope="col">Option3</th>
                        <th style="text-align: center;" scope="col">Icon1</th>
                        <th style="text-align: center;" scope="col">Icon2</th>
                        <th style="text-align: center;" scope="col">Icon3</th>
                        <th style="text-align: center;" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th style="text-align: center;" scope="row">@(i+1)</th>
                            <td style="text-align: center;">@Model[i].Name</td>
                            <td style="text-align: center;">@(Model[i].Description != null && Model[i].Description.Length > 25 ? Model[i].Description.Substring(0, 25) + "..." : Model[i].Description)</td>
                            <td style="text-align: center;">@Model[i].Option1</td>
                            <td style="text-align: center;">@Model[i].Option2</td>
                            <td style="text-align: center;">@Model[i].Option3</td>
                            <td style="text-align: center;">@Model[i].Icon1</td>
                            <td style="text-align: center;">@Model[i].Icon2</td>
                            <td style="text-align: center;">@Model[i].Icon3</td>
                            <td style="text-align: center;">
                                <a class="btn btn-success mb-1" asp-area="admin" asp-controller="ServicePage" asp-action="Update" asp-route-id="@Model[i].Id">Update</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>