@model VmTeam
@{
    ViewData["Title"] = "Index";
}

<section id="uni-banner" style="background-image: url('Uploads/@Model.Banner.Image');">
    <div class="container">
        <div class="banner-text">
            <h1>Team Members</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    Our Team
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape-one"></div>
        <div class="shape-two"></div>
        <div class="shape-three"></div>
    </div>
</section>
<section id="ourteams">
    <div class="container">
        <div class="section-head">
            <span>Meet Our Advisors</span>
            <h2>
                We Have An Exclusive
                <br>
                Team Member
            </h2>
        </div>
        <div class="u-fade-type-down js-scroll-trigger">
            <div class="row">
                @foreach (var item in Model.Teams)
                {
                    <div class="col-lg-3">
                        <div class="teammember">
                            <div class="member-image-wrap">
                                <div class="member-image">
                                    <img src="~/Uploads/@item.Image" alt="">
                                    <div class="team-social">
                                        @foreach (var social in item.TeamSocials)
                                        {
                                            <a href="@social.Link"><i class="@social.Icon"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="member-text">
                                <h3><a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                <span>@item.Profession</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
</section>
<section id="exclusive-video" style="background-image: url(assets/img/video-1.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 col-md-10">
                <div class="video-context">
                    <div class="context-head">
                        <span>
                            Watch Videos
                        </span>
                        <h2>
                            Exclusive Video Presentation
                            <br>
                            About Recent Project
                        </h2>
                    </div>
                    <p>Ranim ad minima veniam, quis nostrum exercitationem ullam corpsuscipit laboriosam, nisi ut aliquid exea commodi consequa turuis autem</p>
                    <a href="" class="my-btn">Need Any Project</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="video-button text-md-center">
                    <a href="#" class="youtube-link" youtubeid="@Model.Setting.VideoLink">
                        <i class="fas fa-play"></i>
                        <img src="assets/img/play.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="video-shape">
        <img src="assets/img/08.png" alt="">
    </div>
</section>
<div class="u-fade-type-down js-scroll-trigger">
    <section id="featuredby" class="featured-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel featuredbyslider owl-theme">
                        @foreach (var item in Model.Partners)
                        {
                            <div class="item img-fluid">
                                <img src="~/Uploads/@item.Image" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>