@model List<TeamSocial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="admin" asp-controller="TeamSocial" asp-action="Create">Create</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead style="border-bottom: 2px solid;">
                    <tr>
                        <th style="text-align: center;" scope="col">#</th>
                        <th style="text-align: center;" scope="col">Name</th>
                        <th style="text-align: center;" scope="col">Link</th>
                        <th style="text-align: center;" scope="col">Icon</th>
                        <th style="text-align: center;" scope="col">Owner</th>
                        <th style="text-align: center;" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                     {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td style="text-align: center;">@Model[i].Name</td>
                        <td style="text-align: center;">@Model[i].Link</td>
                        <td style="text-align: center;">@Model[i].Icon</td>
                        <td style="text-align: center;">@Model[i].Team.Name</td>
                        <td style="text-align: center;">
                            <a class="btn btn-success mb-1" asp-area="admin" asp-controller="TeamSocial" asp-action="Update" asp-route-id="@Model[i].Id">Update</a>
                            <a class="btn btn-danger" asp-area="admin" asp-controller="TeamSocial" asp-action="Delete" asp-route-id="@Model[i].Id" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>
